.masthead {
    background-size: cover;
    width: 100%;
    color: #FFFFFF;
    height: 580px;
  }

  .navbar{
    background-color: #c23616 !important;
  }

  .nav-link{
    color: white !important;
    padding-left: 50px !important;
  }
  
  .filtre {
    position: absolute;
    height: 580px;
    width: 100%;
    background-color: #212529;
    opacity: .5;
  }

  .header-title{
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
  }
  
  .title{
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
  }


  .card{
    margin-top: 100px;
  }


  footer {
    margin-top: 50px;
    color: #FFFFFF;
  }
  
  .footer {
    background-color: #c23616;
    font-family: 'Niramit', sans-serif;
    margin: 0;
  }

  .card-img-top{
    height: 160px;
  }
 
  .img-recette {
      margin-top : 50px;
      width: 100%;
      height: auto;
    }

    .ingredient-top{
      margin-top: 10px;
    }

    .ingredient{
      padding-top: 10px;
    }

    .recette-ingredient{
      margin-top: 20px;
    }

    .description{
      padding-left: 60px;
      padding-top: 20px;
      list-style: none;
      counter-reset: item;
    }

    .description li {
      counter-increment: item;
      text-align : justify;
      padding-top: 10px;
    }

     .description li:before{
      content: counter(item);
      padding-right : 20px;
      color : #DEC17E;
    }

    .title-preparation{
      font-family: 'Oswald', sans-serif;
      padding-top: 30px;
      padding-left: 30px;
    }

    ul{
      list-style: none;
      padding-top: 10px;
    }

    .title-ingredient{
      font-family: 'Oswald', sans-serif;
      padding-top: 20px;
      padding-left: 30px;
    }

    .fa-star{
      padding-left: 10px;
      color: yellow;
    }

    .creation{
      margin-top: 50px;
    }
    .btn-creation{
      margin-top: 20px;
    }

    .register{
      margin-top: 50px;
      padding-top: 20px;

    }
    @media screen and (min-width: 1000px){
      .recette-description{
        margin-top: 30px;
        margin-left: 200px;
      }

      .recette-ingredient{
        margin-top: 0px;
      }

      .etapes{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
