
    <!-- header -->
    <header class="masthead  text-center d-flex  align-items-center" style="background-image:url({{asset('img/header.jpg')}});">
        <div class="filtre"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-10 mx-auto ">
                    <h2 class="header-title">Envie de manger Canadien ?</h2>
                </div>
            </div>
        </div>
    </header>
    