{% extends 'base.html.twig' %}

{% block content %}

<div class="container title">
        <div class="row">
            <div class="col-lg-12 col-md-12 cold-sm-12 d-flex justify-content-center">
                <h2 class="display-5"></h2>
            </div>
        </div>
    </div>

<div class="container">
    <div class = "row" >
        <div class = "col-lg-10 col-md-12 col-sm-12 mx-auto">
             <img src="{{ asset('img/pancakes.jpg') }}" class=" img-fluid rounded img-recette" alt="Poutine">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h2 class ="title-ingredient">Ingrédients</h2>
                </div>
                    <div class="card-body">
                        <ul>
                            {% for ingredient in recipe.ingredients %}
                                <li class="ingredient">{{ ingredient.name }}</li>
                            {% endfor %}
                        </ul>
                </div>
            </div> 
        </div>

        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <ul class="etapes">
                        <li>Difficulté  <i class="fas fa-smile"></i></li>
                        <li><i class="fas fa-clock"> Temps total : 35 min</i></li>
                        <li><i class="fas fa-male"></i></li>
                        <li><i class="fas fa-wallet">2 €</i></li>
                        <li>avis 
                        </li>
                     </ul>
                </div>
                    <div class="card-body">
                        <h2 class="title-preparation">Détails de la prépation</h2>
                            <ul class="d-flex flex-row justify-content-around">
                            <li>Préparation : 15 min</li>
                            <li>Cuisson : 20  min</li>
                            </ul>
                    <ol class="description" >
                        {% for step in recipe.steps %}
                            <li>{{ step.title }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock %}