{% extends 'base.html.twig' %}
    
{% block content %}

    <div class="container title">
        <div class="row">
            <div class="col-lg-12 col-md-12 cold-sm-12 d-flex justify-content-center">
                <h2 class="display-5">Nos recettes les moins chères</h2>
            </div>
        </div>
    </div>

   <div class="container">
    <div class="row">
            {% for recipe in recipes %}
            <div class="col-lg-4 col-md-6 ">
             <div class="card">
                <img class="card-img-top" src="{{ asset('img/pancakes.jpg') }}" alt="Pancakes">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.name }}</h5>
                        <p class="card-text">{{ recipe.description }}</p>
                        <p>
                            <a href="{{ path('recipe_show', {'id': recipe.id}) }}" class="btn btn-primary">Lire la suite</a>
                        </p>
                    </div>
                </div>
             </div>
             {% endfor %}
        </div>

    </div>       

        
        </div>
    </div>
{% endblock %}